/* 제목 스타일 */
.hi {
    text-align: center;
    margin: 50px 0;
    font-family: 'Roboto', sans-serif; /* 폰트 */
    font-size: 2.5rem; /* 크기 */
    color: #4CAF50; /* 색상 */
    background: -webkit-linear-gradient(left, #6e8efb, #a777e3); /* 그라데이션 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* 크롬, 사파리용 텍스트 색상 투명 처리 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 텍스트 그림자 */
}


.styledpodo {
    font-size: 22px; /* 글자 크기 조정 */
    font-weight: bold; /* 굵은 텍스트 */
    font-family: 'Arial', sans-serif; /* 깔끔한 폰트 스타일 */
    margin-bottom: 15px; /* 아래쪽 마진 추가 */
    color: #333; /* 글자 색상 조정 */
    text-align: center;
}



/*!* 기본 폰트 스타일 *!*/
/*body {*/
/*    font-family: 'Roboto', sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    background-color: #f0f2f5; !* 부드러운 배경색 *!*/
/*}*/

.container {
    display: flex;
    flex-wrap: wrap; /* 반응형 레이아웃을 위한 설정 */
    justify-content: space-around;
    margin: 40px auto;
    max-width: 1200px;
}

.column {
    flex: 1 1 300px; /* 유연한 크기 조정 및 최소 너비 설정 */
    margin: 10px; /* 간격 조정 */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.column:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
}

.scroll-container {
    max-height: 300px;
    overflow-y: auto;
}

.item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fafafa; /* 아이템 배경색 변경 */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.item:hover {
    background-color: #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected {
    background: linear-gradient(135deg, #ff758c, #ff7eb3); /* 선택된 아이템 그라데이션 */
    color: white;
    font-weight: bold;
}

.speachbutton-container {
    text-align: center;
    position: relative;
    top: -20px; /* 상단으로 20px 이동 */
    margin-bottom: 30px; /* 하단 마진 줄임 */
}

.speachbutton {
    padding: 12px 24px; /* 패딩 조정 */
    background: linear-gradient(135deg, #7db9f3, #c895d5); /* 그라데이션 색상 변경 */
    color: white;
    border: none;
    border-radius: 20px; /* 모서리 둥근 정도 조정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 변경 */
    cursor: pointer;
    font-size: 16px; /* 폰트 크기 조정 */
    font-family: 'Helvetica', sans-serif; /* 폰트 스타일 변경 */
    font-weight: bold;
    transition: all 0.3s ease;
    width: 400px; /* 버튼 너비 조정 */
}

.speachbutton:hover {
    transform: translateY(-2px); /* 버튼 상승 효과 */
    background: linear-gradient(135deg, #c895d5, #7db9f3); /* 호버 시 그라데이션 변경 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 효과 강조 */
}


