.hi {
    text-align: center;
    margin-top: 100px;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(left, #6e8efb, #a777e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* 크롬, 사파리용 텍스트 색상 투명 처리 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.styledpodo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: darkblue;
    text-align: center;
}

.tx{
    text-align: center;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto;
    max-width: 1200px;
}


.sort {
    margin-top: -10px;
    background-color: #fff;
    border: 2px solid #a777e3;
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 600px;
}


.column {
    flex: 1 1 300px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid darkblue;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    height: 350px;
}

.column:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
    border-color: #2b6cc4;
    background-color: #e0e8f9;
}



/*.column {*/
/*        flex: 1 1 300px;*/
/*        margin: 10px;*/
/*        background-color: #fff;*/
/*        border: 2px solid darkblue;*/
/*        border-radius: 15px;*/
/*        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);*/
/*        padding: 20px;*/
/*    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;*/
/*    perspective: 1000px;*/
/*}*/

/*.column:hover {*/
/*    transform: rotateY(200deg) rotateX(200deg);*/
/*    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);*/
/*    border-color: #2b6cc4;*/
/*    background-color: #e0e8f9;*/
/*}*/

/*.column-content {*/
/*    opacity: 0;*/
/*    transition: opacity 0.3s ease;*/

/*}*/
/*200으로 설정*/




/*.scroll-container {*/
/*    max-height: 300px;*/
/*    overflow-y: auto;*/
/*}*/

/*.scroll-container::-webkit-scrollbar {*/
/*    width: 1px;*/
/*    background-color: transparent;*/
/*}*/

/*.scroll-container::-webkit-scrollbar-thumb {*/
/*    background-color: #d0d0d0;*/
/*    border-radius: 4px;*/
/*}*/

/*.scroll-container::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #a0a0a0;*/
/*}*/

/*.scroll-container::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*    border-radius: 0px;*/
/*}*/


.item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    cursor: pointer;
    margin-top: 20px;
}


.selected {
    background: #a1b8f3;
    color: white;
    font-weight: bold;
}


.coselected{

}


.flag-container {
    position: relative;
    display: inline-block; /* 또는 flex */
    text-align: center; /* 가로 방향 가운데 정렬 (inline-block의 경우) */
}

.flag-container img {
    width: 60%; /* 또는 필요한 크기 */
    height: auto; /* 또는 필요한 크기 */
    display: block; /* 이미지를 블록 요소로 만들어 줄의 가운데에 배치 */
    margin-left: 60px; /* 가로 방향 가운데 정렬 */
}





/*.check-mark {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: absolute;*/
/*    top: -35px;*/
/*    right: -45px;*/
/*}*/

.speachbutton-container {
    text-align: center;
    position: relative;
    top: 58px;
    margin-bottom: 30px; /* 하단 마진 줄임 */
}

.speachbutton {
    padding: 12px 24px;
    background: linear-gradient(to right, #89C4F4, #1D2B64);
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 400px;
}

.speachbutton:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #1D2B64, #89C4F4);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.custom-button {
    background-color: #555555;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.custom-button:hover {
    background-color: #6e6e6e;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.custom-button:active {
    background-color: #4d4d4d;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}



.difficulty-selector {
    text-align: center;
    margin: 20px;
}

.controls {
    display: inline-block;
    margin-top: 10px;
}

.controls img {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px;
}


