@font-face {
    font-family: 'apple';
    src: url('./fonts/NotoSans-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'apple';
    src: url('./fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


.App {
    font-family: 'apple', Arial, sans-serif;
}