.rankingCenter {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rankingCenter h2 {
    font-family: "Noto Sans KR Black",sans-serif;
    /*글자 간격*/
    letter-spacing: 5px;
    margin: 20px 0;
}

.rankingCenter h4 {
    font-family: "Noto Sans KR Medium",sans-serif;
    letter-spacing: 7px;
    margin: 20px 0px;
}

.rankingCenter h6 {
    font-family: "Noto Sans KR Black",sans-serif;
    letter-spacing: 2px;
    margin: 7px 0 0 10px;
}

.ranking-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ranking-flex-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.ranking-king {
    width: 50px;
    height: auto;
    margin: 0 40px;
}

.rankingContainer{
    width: 70%;
    height: 550px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #17264D;
    margin: 0 auto;
}

.ranking-grayline {
    border-bottom: 1px solid #ccc;
    margin: 0 auto 10px auto;
    width: 95%;
}

.ranking-40 {
    width: 600px;
    text-align: center;
    margin-right:10px;
}

.ranking-30L {
    width: 200px;
    text-align: left;
    margin-left: 200px;
}

.ranking-30R {
    width: 400px;
    text-align: left;
    margin-right: 10px;
}

.ranking-scroll-container {
    overflow-y: auto;
    max-height: 540px; /* 원하는 높이로 조절하세요. */
}

/* 스크롤바를 숨김 */
.ranking-scroll-container::-webkit-scrollbar {
    display: none;
}

.ranking1 {
    width: 65px;
    height: 30px;
    background: gold;
}

.ranking2 {
    width: 30px;
    height: 30px;
    background: #ced4da;
}

.ranking-aa {
    width: 90px;
    height: 30px;
    text-align: center;
    margin-left: 200px;
}

.rankMonthC {
    width: 80px;
    height: 50px;
    background: #132650;
    color: white;
}

.rankMonthN {
    width: 80px;
    height: 50px;
    background: #dee2e6;
    color: #959596;
}

.rankDayC {
    width: 80px;
    height: 50px;
    background: #132650;
    color: white;
}

.rankDayN {
    width: 80px;
    height: 50px;
    background: #dee2e6;
    color: #959596;
}