<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>room id</title>
</head>
<body>
  <h2>room id</h2>
<input type="button" onclick="sendRequest()" value="대화하기">

<script>
    import axios from "axios";

    function sendRequest() {

        axios.post("/talking/newTalkingRoom", {
            unum: 1
        })
            .then((response) => {
            const createId = response.data.createId;
            window.location.href = "/talkingRoom/" + createId;
        })
            .catch((error) => {
                console.log(error);
            })
    }
</script>
</body>
</html>